@import "tailwindcss";

@font-face {
  font-family: Satoshi;
  src: url("./assets/fonts/Satoshi-Variable.ttf");
}

body {
  font-family: satoshi;
  font-weight: bolder;

  background-color: white;
  color: black;
}
